.main-header, .main-rotation-header, .rotation-header {
    color: rgba(23, 255, 250, 0.5);
}

.main-rotation-header {
    text-align: center;
}

.main-paragraph {
   font-size: 24px;
   color: rgba(23, 255, 250, 0.5);
   font-family: 'Times New Roman', Times, serif;
}

.rotation-section, .rotation-section-1 {
    display: flex;
}

.rotation-artist {
    flex: 25%;
    margin: 10px;
    padding: 20px;
}

.review-section {
    display: flex;
}

.artist-review {
    flex: 33%;
    padding: 10px;
}

.reviews-header {
    color:rgba(23, 255, 250, 0.5);
    text-decoration: underline;
    text-decoration-color: rgba(155, 54, 255, 0.7);
}