@media (prefers-reduced-motion: no-preference) {
    .app-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.page-header {
    text-align: center;
    color: rgba(23, 255, 250, 0.5);
    text-decoration: underline;
    letter-spacing: 2px;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

.second-page-header {
    text-align: center;
    color: rgba(123, 25, 200, 0.8);

}